{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}

    <p>
        Great, you now know how to move your player, how to open doors and have played with a
        second player on the field.
    </p>
    <p>
        Still, we want to be sure you understand how the game works. Please answer the following questions.
    </p>
    <p>
        Click CONTINUE.
    </p>
 <p>
        <button class="otree-btn-next btn btn-primary">CONTINUE</button>
    </p>

{% endblock %}
