{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}

    <p>
        Welcome to the third and final session of our study! We are so glad you are back again <br/>
In this last session there will be three tasks which will take approx. a maximum of 60 min depending on the decisions you make.<br/>

You can earn bonus payments in all 3 tasks. For more details about how the bonuses are determined, please read the task-specific instructions carefully. After completing today's session, and if you pass the attention checks, a lottery will determine one task from each session, and you will get the bonus payments from those 3 tasks.
<br/>
The time window to begin this part will close at 6 PM GMT today. You have time until 7:15 PM GMT to finish this experiment.   </p>
    <p>
        Click CONTINUE.
    </p>
     <p>
        <button class="otree-btn-next btn btn-primary">CONTINUE</button>
    </p>

{% endblock %}
