{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}

    <div class="otree-wait-page container">
        <div class="card">
            <h4 class="otree-wait-page__title card-header">
                Please wait. You are being paired with a
                {% if curr_round == 3 %}

                {% elif curr_round == 7 %}

                {% else %}
                    <u>different</u>
                {% endif %}
                participant now
            </h4>
            <div class="card-body">
                <div id="_otree-server-error" class="alert alert-danger" style="display:none">
                    An error occurred. Please check the logs or ask the administrator for help.
                </div>

                <p class="otree-wait-page__body">Waiting for the other participant.</p>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block styles %}
    <style>
        body {
            background-color: #c0c0c0;
        }

        .card {
            background: white;
            border: 1px solid #3b84c3;
            border-radius: 5px;
            box-shadow: 0 0 20px #999;
            /*width: 940px; */
            margin: 22px auto;
        }

        .card-body {
            margin-top: 10px;
        }

        .page-header {
           border: 1px solid #c0c0c0;
        }

        .otree-wait-page {
            max-width:970px
        }

        .progress-bar {
            width: 100%;
        }
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}
