{% extends "global/Page.html" %}
{% load otree static customtags %}

{% block title %}
{% endblock %}

{% block content %}

    <p>
        Welcome, thank you for participating in our experiment! This is a pilot run to test different parts of a bigger
        test battery.
    </p>
    <p>
        Today you will play two of the tasks.
    </p>
    <p>
        In each task, you can earn a bonus payment, which will be explained in the task-specific instructions on the next slides.
    </p>
    <p>
        You will receive the bonus for <u>one</u> of the two tasks. You will learn later which one it will be chosen.
    </p>
    <p>
        Press CONTINUE.
    </p>

    <p style="text-align: center; margin-top: 40px">
    <button class="btn btn-secondary" style="font-size: 1rem">CONTINUE</button>
</p>

{% endblock %}
