{% extends "global/Page.html" %}
{% load otree static customtags %}

{% block styles %}
    <link href="{% static 'global/css/risk_from_description.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="text-round">{{ subsession.round_number }} of {{ Constants.num_rounds }}</div>
    <p>
        Please choose your preferred option by clicking on it.
    </p>
    <br><br>

    <div class="container-fluid">
        <div class="row">
            {% for o, p in options %}
                <div class="col">
                    <div class="row">
                        <div class="col text-center">
                            <button class="risk_from_description_decision_button"
                                    name="decision" value="{% if forloop.counter == 1 %}False{% else %}True{% endif %}">
                                {% widthratio p.0 1 100 %} % chance to win {{ o.0|c }}
                                <br><br>
                                {% widthratio p.1 1 100 %} % chance to win {{ o.1|c }}
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
