{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
    <img src="{% static "consent/img/warwick_header.png" %}" width="35%"
         style="display: block; opacity: 1; margin-right: auto; margin-left: auto">
    <br>
    <h5 class="text-center"><b>Participant Information Leaflet</b></h5>
    <br>
    <table>
        <tr>
            <td><b>Study Title:</b></td>
            <td class="pl-4">Cognitive foundations of reciprocity</td>
        </tr>
        <tr>
            <td><b>Investigator(s):</b></td>
            <td class="pl-4">Stefanie Keupp (University of Warwick & UCL), Elliot Ludvig (University
                of Warwick), Alicia Melis (University College London).
            </td>
        </tr>
    </table>

    <p>
        You are invited to take part in a research study. Before you decide, you need to understand why the research is being done and what it would involve for you. Please take the time to read the following information carefully. Talk to others about the study if you wish.
        <br/>
        Please ask us if there is anything that is not clear or if you would like more information. Take time to decide whether or not you wish to take part.<br>
    </p>
    <p>
        This project is funded by the Economic and Social Science Research Council (ESRC) of the United Kingdom.
    </p>
    <p>
        This study aims to examine the role of different cognitive factors in human cooperation. We will compare results of the current experiment with parallel studies looking at the behaviour of children and chimpanzees in similar tasks. These comparisons will help us to shed light on the evolution and development of human cooperation.
    </p>
    <p>
        The experiment will take place on your computer and will consist of three sessions over the course of three days. You will play tasks that will be used as either a predictor of cooperation or a measure of cooperation. Each session will take up to 60 minutes. There will be opportunity to take breaks both within each task as well as between tasks in a session. However, we ask you to not engage in other interrupting activities while participating in this experiment.
    </p>
    <p>
        By participating in this study, you contribute to the overall scientific project, which will allow us to gain a better understanding of the cognitive foundations of human reciprocity. These results will be communicated the scientific community as well as to a general public audience. On top, some of the tasks are designed in a game-like way and may be fun to play.
    </p>
    <p>
        We don't see any disadvantages or risks from taking part in this study.
    </p>
    <p>
        You will be reimbursed £6.50 for the first session, £7.50 for the second sessions, and £7.50 for the third session, plus an individual bonus of up to £39.6 that you can earn during the games after completing all 3 sessions. The size of this bonus depends on which tasks you are assigned to perform and can be performance dependent, and/or dependent on a co-player’s decisions, and/or involve elements of guessing and luck. The tasks you might get assigned to can be hypothetical or real and can involve fictitious or real other players. You will learn which were the real tasks at the end of the experiment. Bonus calculations will be explained in detail during introduction of the respective game. You have to finish the experiment to receive the full payment – this means, if the experiment is divided into multiple parts, you have to complete all of them and if you quit any task without having finished it, for example by closing your browser, you might not get payment for this task.
    </p>
    <p>
       All data is anonymized at the point of data collection. This means that the data we collect can never be connected to you personally. We do not collect any personally identifiable information about you. The only data we collect are the responses to the task, including your choices, answers, and time to respond. These are stored with a participant ID number.
    </p>
    <p>
        Research data will be anonymised at the point of data collection, and no personal data will be collected about you. During the experiment, this anonymous data is stored on password-protected computers and backed up to the cloud. Upon experiment completion, the anonymous data will be made publicly available to the scientific community through an online repository, such as the Open Science Framework or DataDryad. The anonymized research data will be stored for at least 10 years as per University of Warwick Research Data Management Policy.
    </p>
    <p>
        Your rights to access, change or move your information are limited, as we need to manage your information in specific ways in order for the research to be reliable and accurate. The University of Warwick has in place policies and procedures to keep your data safe
    </p>
    <p>
        This data may also be used for future research following review and approval by an independent Research Ethics Committee and subject to your consent at the outset of this research project.
    </p>
    <p>
        Please refer to the University of Warwick Research Privacy Notice which is available
        here:
        <a href="https://warwick.ac.uk/services/idc/dataprotection/privacynotices/researchprivacynotice">
            https://warwick.ac.uk/services/idc/dataprotection/privacynotices/researchprivacynotice
        </a>
        or by contacting the Information and Data Compliance Team at
        <a href="mailto:GDPR@warwick.ac.uk">GDPR@warwick.ac.uk</a>.
    </p>
    <p>
        Your participation is entirely voluntary. You can decide to end your participation or withdraw your data anytime
        during the experiment without giving a reason and without negative repercussions. You can withdraw from the
        experiment at any time by closing your browser window.
    </p>
    <p>
        Should you choose to withdraw, the data you have provided will not be used nor available for use in this study
        nor in future work. Once you have completed the study and submitted your responses at the end, however, it will
        no longer be possible to withdraw your data. This is because your data will be anonymised upon completion, so
        identifying it for deletion will not be possible.
    </p>
    <p>
        The research results will be submitted to a scientific journal with open access for the general public. We will
        also disseminate our findings on scientific conferences as talk or poster presentations to discuss with the
        scientific community.
    </p>
    <p>
        This study has been reviewed and given favourable opinion by the University of Warwick's Humanities and Social
        Science Research Ethics Committee (HSSREC): Ref. number 165/19-20
    </p>
    <p>
        <b>Who should I contact if I want further information?</b><br>
        Dr. Stefanie Keupp (<a href="mailto:stefanie.keupp@warwick.ac.uk">stefanie.keupp@warwick.ac.uk</a>) or Dr.
        Elliot Ludvig (<a href="mailto:E.Ludvig@warwick.ac.uk">E.Ludvig@warwick.ac.uk</a>) or Dr. Alicia Melis (<a
            href="mailto:a.melis@ucl.ac.uk">a.melis@ucl.ac.uk</a>)
    </p>
    <p>
        <b>Who should I contact if I wish to make a complaint?</b>
    </p>
    <p>
        Any complaint about the way you have been dealt with during the study or any possible harm you might have
        suffered will be addressed. Please address your complaint to the person below, who is a senior University of
        Warwick official entirely independent of this study:
    </p>
    <p>
        <b>Head of Research Governance</b><br>
        Research & Impact Services<br>
        University House<br>
        University of Warwick<br>
        Coventry<br>
        CV4 8UW<br>
        Email: <a href="mailto:researchgovernance@warwick.ac.uk">researchgovernance@warwick.ac.uk</a><br>
        Tel: 024 76 522746
    </p>
    <p>
        If you wish to raise a complaint on how we have handled your personal data, you can contact our Data Protection
        Officer who will investigate the matter: <a
            href="mailto:DPO@warwick.ac.uk">DPO@warwick.ac.uk</a>.
    </p>
    <p>
        If you are not satisfied with our response or believe we are processing your personal data in a way that is not
        lawful you can complain to the Information Commissioner's Office (ICO).
    </p>
    <p style="font-size: larger">
        <b>Thank you for taking the time to read this Participant Information Leaflet</b>
    </p>

    <p class="text-center mt-4">
        <button class="otree-btn-next btn btn-primary">CONTINUE</button>
    </p>

{% endblock %}

{% block styles %}
    <style>
        body {
            background-color: #fff;
            color: #000;
        }

        .page-header {
            margin-top: 0;
        }

        table {
            margin-bottom: 1rem;
        }

        td {
            vertical-align: top;
        }
    </style>
{% endblock %}
