{% extends "global/Page.html" %}
{% load otree static customtags %}

{% block styles %}
    <link href="{% static 'css/tower_of_london.css' %}" rel="stylesheet">
    <style>
        .page-header {
            padding-top: 0;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            // Set start state for current configuration
            let start = {{start|json}},
                goal = {{ goal|json }},
                rodsTask = $('#tower-task .rod'),
                rodsGoal = $('#tower-goal .rod'),
                RBY = {
                    "R": "<div class=\"ball R\"></div>",
                    "B": "<div class=\"ball B\"></div>",
                    "Y": "<div class=\"ball Y\"></div>"
                };

            var setStart = function(start, tower) {
                var i;
                for(i=1; i <= tower.length; i++) {
                    var j;
                    for(j=1; j <= start[i].length; j++) {
                        var ballColor = RBY[start[i][j-1]];
                        tower.eq(i-1).find('.slot:nth-child('+j+')').prepend(ballColor);
                    }
                }
            };

            var setGoal = function(goal, tower) {
                setStart(goal, tower)
            };

            setStart(start, rodsTask);
            setGoal(goal, rodsGoal);

            // Display tower with current configuration already set up
            setTimeout(function () {
                $('#tower-task').css('visibility', 'visible');
                $('#tower-goal').css('visibility', 'visible');
            }, 0);
        });
    </script>
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    <p>Here is an example (view only):</p><br>

    <div class="container-fluid">
        <div class="row align-items-center no-gutters">
            <div class="col-1"></div>
            <div class="col-2"><div style="color: orange">Goal state</div></div>
            <div class="col-7 pb-3">
                <div id="tower-goal" style="visibility: hidden">
                    {% include "tower_of_london/Tower.html" %}
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-1"></div>
            <div class="col-2"><div style="color: orange">Start state</div></div>
            <div class="col-7">
                <div id="tower-task" style="visibility: hidden">
                    {% include "tower_of_london/Tower.html" %}
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <p style="float: left; color: orange; margin-top: 40px"><b>Minimum moves<br>required: {{ min_moves }}</b></p>

    {% continue_button %}
{% endblock %}


