{% extends "global/Page.html" %}
{% load otree static customtags %}

{% block title %}
{% endblock %}

{% block content %}

    <p>Great, you have finished the practice games.</p>
    <p>
        There will be 2 test games. You will not be paired with another live player,
        but rather the other player’s decisions are those of a previous participant in this game.<br>
        For each game this will be a different previous participant.
    </p>
    <p>
        You will receive full information about each respective game before it starts.
    </p>
    <p>
        The games work just like the practice games you have just played.
    </p>
    <p>
        One of the games will be randomly selected and you will receive your earnings of that game as bonus payment.
    </p>
    <p>
        Enjoy!
    </p>

    {% continue_button %}

{% endblock %}
