{% extends "otree/Page.html" %}
{% load otree static %}

{% block title %}
    INSTRUCTIONS
{% endblock %}

{% block content %}
        <p>
            In this task you decide to which island to go to collect: <br/>
            (1) a small <b>payoff</b> that is
            closer to your boat OR (2) a large
            <b>payoff</b> that you will have to travel farther for. Each diamond is worth 0.1 pence.
        </p>
        <img id="instr-1" src="{% static 'patience_game/img/boattask.png' %}"/>

        <p class="text-center mt-4">
            <button class="otree-btn-next btn btn-primary">CONTINUE</button>
        </p>

{% endblock %}

{% block styles %}
    <link href="{% static 'patience_game/css/custom.css' %}" rel="stylesheet">
{% endblock %}
