{% extends "otree/Page.html" %}
{% load otree static %}

{% block title %}
PARTICIPANT CONSENT FORM
{% endblock %}

{% block content %}

   <img src="{% static "patience_game/img/ucl.png" %}" class="logo">
    <br><br/>
    <p>
        Factors influencing cooperative decision making
    </p>
    <p>
    This study is being run by Kathy Lau (ucjus90@ucl.ac.uk) under the supervision of Dr. Alicia Melis (a.melis@ucl.ac.uk)
    </p>
    <p>
    You are about to take part in an academic study which is run by the Cooperation and Social Decisions Group, based at University College London. Thank you for considering taking part in this research.  Please, ask us if there is anything that is not clear or if you would like more information.
    </p>
    <p>
    This project has been approved by the UCL Ethics Board. Project ID: EP/2020/009. This study aims to examine the role of different individual and situational factors in decision making, including (un)cooperative social decision making. The experiment will take place on your computer, and will take up to 5 min.
    </p>
    <p>
    By participating in this study, you contribute to the overall scientific project, which will allow us to gain a better understanding of human decision-making processes and behaviour. These results will be communicated the scientific community as well as to a general public audience. You can also contact us to ask questions by writing an email to the email address provided below.
    </p>
    <p>
        You will be reimbursed by a rate of £ 7.50/hour (and a possible bonus of up to £6.20 depending on the decisions you make). You have to finish the experiment to receive the full payment –if you quit the task without having finished it, for example by closing your browser, you will not get payment for this task.
    </p>
    <p>
    Only researchers working with the Cooperation and Social Decisions Group will have access to datafiles containing identifying information (Worker ID). As soon as the data collection is finished, we will fully anonymise the data (e.g. removing any personal identifiers such as the prolific IDs) to process and analyse the data. All data will be handled according to the General Data Protection Regulations and will be kept anonymous (your name will not appear in any publication related to this study and will not be shared with any other parties). The legal basis for processing your data is “public interest”.
    </p>
    <p>
    Any personal data (your gender / your age) will be stored safely in accordance with GDPR guidelines and will not be linked with any identifying information about you. The legal basis for processing your personal data is your consent.
    </p>
    <p>
    Completely anonymous datafiles will be made publicly available to the scientific community through an online repository, such as the Open Science Framework or DataDryad. If you do not consent to de-identified data being shared, please close your browser window and do not submit the HIT.
    </p>
    <p>
    Once de-identified data have been shared, it may be difficult or impossible to withdraw consent for your anonymous data to be used. Please only continue if you are happy for your anonymous data to be used in this way.
    </p>
    <p>
    By continuing, you are consenting to allow the Cooperation and Social Decisions Group to use your responses in the study for academic purposes and consenting for your anonymised data to be shared.
    </p>
    <p>
    If you do not wish to participate, or if you change your mind during the course of the study, please close your browser window.
    </p>
    <p>
    If you're happy to take part, we'll need you to give your consent. To do this, please <b> read the statements below </b> and <b> tick the appropriate boxes </b>.
    </p>
    <p>
        <b> Notice: </b>
    The controller for this project will be University College London (UCL). The UCL Data Protection Officer provides oversight of UCL activities involving the processing of personal data, and can be contacted at data-protection@ucl.ac.uk
    This ‘local’ privacy notice sets out the information that applies to this particular study. Further information on how UCL uses participant information can be found in our ‘general’ privacy notice here:
    If you are concerned about how your personal data is being processed, or if you would like to contact us about your rights, please contact UCL in the first instance at data-protection@ucl.ac.uk.
    </p>

<p class="mb-2" style="color: #800080"><b> Additional information </b> <br/>
    <b>Principal Investigator:</b> Dr. Alicia Melis <br/>
    <b>Department of Experimental Psychology:</b> 26 Bedford Way, London WC1H 0AP<br/>
    <b>Email:</b> a.melis@ucl.ac.uk

    <br/><br/>
    <b>Ethics Officer:</b> ethics@ucl.ac.uk <br/>
    <b>Data Protection Officer:</b> Alex Potts, a.potts@ucl.ac.uk
</p>

    <table>
        <thead><tr><td></td><td></td><td><i>Please tick all boxes</i></td></tr></thead>
        {% for field in form %}
            <tr>
                <td style="vertical-align: top">{{ forloop.counter }}</td>
                <td>{{ field.label }}</td>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="id_consent_{{ forloop.counter }}" name="consent_{{ forloop.counter }}"
                           class="custom-control-input" required="">
                        <label class="custom-control-label" for="id_consent_{{ forloop.counter }}"></label>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>

    <p class="text-center">
        <button class="otree-btn-next btn btn-primary">YES I AGREE</button>
    </p>

{% endblock %}

{% block styles %}
    <link href="{% static 'patience_game/css/custom.css' %}" rel="stylesheet">
{% endblock %}
